:root {
    --bg: #1a1a2e;
    --card: #0f3460;
    --text: white;
    --accent: #e94560;
}

.light {
    --bg: #f5f5f5;
    --card: #ffffff;
    --text: #111;
    --accent: #ff4d6d;
}

body {
    background: var(--bg);
    color: var(--text);
}

header, .card, footer, .login-box {
    background: var(--card);
}

header input {
    margin-top: 15px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
}

.card-content a {
    display: inline-block;
    margin-top: 10px;
    background: #e94560;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    text-decoration: none;
}

.card-content a:hover {
    background: #ff577f;
}

.anime-detail {
    display: flex;
    padding: 30px;
    gap: 30px;
}

.anime-detail img {
    width: 300px;
    border-radius: 15px;
}

.anime-detail .info {
    max-width: 600px;
}


.login-box {
    width: 300px;
    margin: 100px auto;
    background: #0f3460;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

@media (max-width: 768px) {

    header h1 {
        font-size: 26px;
    }

    header input {
        width: 90%;
    }

    .anime-detail {
        flex-direction: column;
        align-items: center;
    }

    .anime-detail img {
        width: 90%;
    }

    .results {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .results {
        grid-template-columns: 1fr;
    }
}
